Redirect /facebook https://www.facebook.com/pbhanu.1994
Redirect /twitter https://www.twitter.com/pbhanu1994
Redirect /linkedin https://in.linkedin.com/in/pbhanuprakash
Redirect /gplus https://plus.google.com/+BhanuPrakash1994
Redirect /portfolio https://www.behance.net/pbhanu1994
Redirect /blog /myblog