#setting-error-tgmpa{margin:10px 0px;padding-right: 0;}
#tgmpa-plugins .tablenav select option[value="tgmpa-bulk-install"]{display:none;}#wpwrap a[href="themes.php?page=custom-header"], #wpwrap a[href="themes.php?page=custom-background"]{display:none;}

